body {
  font-size: 26px;
  color: #222229; 
  background-color: #f8f4f2;
  padding: 48px;
}

button {
  padding: 8px;
  font-family: 'Karla', sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #f8f4f2;
  background-color: #222229;
  border: none;
  outline: none;
}

input {
  padding: 8px;
  width: 48px;
}

.navTop, .navSide {
  position: fixed;
}

.navTop {
  top: 0;
}

.navSide {
  left: 0px;
  top: 420px;
  width: 18px;
  transform: rotate(-90deg);
  transform-origin: top;
}

.NavLink {
  padding: 16px;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color:#222229;
  text-decoration: none;
}

.selected {
  text-decoration: underline;
}


.Home .content {
  position: relative;
  top: 50px;
  left: 50px;
  font-family: 'Karla', sans-serif;
}

.Home .content h1 {
  font-weight: 700;
  width: 500px;
  font-size: 89px;
}

.Home .content p {
  font-weight: 400;
  width: 464px;
  font-size: 21px;
}

.Shop .product {
  display: inline-block;
  margin: 0px 24px 0px 0px;
}

.Shop .product h1 {
  font-family: 'BioRhyme', 'Courier New', monospace;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}

.Shop .product p {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

.Shop .product img {
  width: 467px;
  height: 493px;
}

.Locations img {
  display: block;
  margin-bottom: 34px;
}

.Locations .locationDetails {
  display: inline-block;
  margin-right: 115px;
  vertical-align: top;
}

.Locations .locationDetails .locationName {
  font-family: 'BioRhyme', 'Courier New', monospace;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.Locations .locationDetails p {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  margin: 0px 0px 16px 0px;
}

.Locations .locationDetails span {
  font-weight: 700;
}