:root {
  --sanserif: 'Karla', sans-serif;
  --serif: 'BioRhyme', 'Courier New', monospace;
  --dark: #222229;
  --near-white: #f8f4f2;
  --white: #ffffff;
  --gray: #D8D3D0;
  --rust: #B34813;
  --pink: #F0AF8E;
  --base-unit: 7px;
}

body {
  font-size: calc((var(--base-unit)*3));
  color: var(--dark); 
  background-color: var(--near-white);
  padding: calc((var(--base-unit)*6));
}

button {
  padding: var(--base-unit);
  font-family: var(--sanserif);
  font-size: inherit;
  font-weight: 700;
  color: var(--near-white);
  background-color: var(--dark);
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  padding: var(--base-unit);
  width: calc((var(--base-unit)*6));
}

.navTop, .navSide {
  position: fixed;
}

.navTop {
  top: 0;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.navSide {
  left: 0px;
  top: 420px;
  width: 18px;
  transform: rotate(-90deg);
  transform-origin: top;
}

.NavLink {
  position: relative;
  padding: calc((var(--base-unit)*2));
  font-family: var(--sanserif);
  font-weight: 700;
  text-transform: uppercase;
  color:var(--dark);
  text-decoration: none;
  cursor: pointer;
}

.navTop .NavLink {
  right: 0;
}

#logo {
  margin: auto;
  cursor: pointer;
}

.selected {
  text-decoration: underline;
}

.Home, .Locations, .Shop, .CartHome {
  position: relative;
  height: 100vh;
}

.Locations .container, .CartHome .container, .Shop .container {
  width: 75%;
  margin: calc(var(--base-unit)*7) auto auto auto;
}

.Home .content {
  position: absolute;
  top: 5%;
  right: 17%;
  font-family: var(--sanserif);
  width: calc((var(--base-unit)*72));
  margin: 0px;
}

.Home .content h1 {
  font-weight: 700;
  font-size: calc((var(--base-unit)*12));
  line-height: calc((var(--base-unit)*12));
}

.Home .content p {
  font-weight: 400;
  width: 464px;
  font-size: calc((var(--base-unit)*3));
}

.Home .content p a {
  margin-left: var(--base-unit);
  color: var(--rust);
}

.Home .content p a:visited {
  color: var(--rust);
}

.Home .hero {
  position: relative;
  z-index: -2;
  top: 24%;
  left: 7%;
}

.Shop .product {
  display: inline-block;
  margin: 0px 24px 0px 0px;
}

.Shop .product h1 {
  font-family: var(--serif);
  font-weight: 700;
  font-size: calc((var(--base-unit)*3));
  text-transform: uppercase;
}

.Shop .product p {
  font-family: var(--sanserif);
  font-weight: 400;
}

.Shop .product img {
  width: 467px;
  height: 493px;
}

.CartModal .details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.AddForm form {
  position: relative;
}

.AddForm input, .EditItem input, .add button, .minus button {
  width: calc(var(--base-unit)*7);
  height: calc(var(--base-unit)*7);
  color: var(--dark);
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  font-family: var(--sanserif);
  font-size: inherit;
  border: none;
}

.add, .minus, .AddForm button[type="submit"], .AddForm input {
  display: inline-block;
}

.AddForm button[type="submit"] {
  padding: 0px calc(var(--base-unit)*3);
  height: calc(var(--base-unit)*7);
  position: absolute;
  right: 0px;
}

.add button, .minus button {
  background-color: var(--gray);
}

.Locations .map {
  display: block;
  margin-bottom: calc((var(--base-unit)*4));
  width: 100%;
}

.Locations .detailsContainer {
  display: flex;
  justify-content: space-between;
}

.Locations .locationDetails .locationName {
  font-family: var(--serif);
  font-weight: 700;
  font-size: calc((var(--base-unit)*3));
  text-transform: uppercase;
  margin-bottom: 0px;
}

.Locations .locationDetails p {
  font-family: var(--sanserif);
  font-weight: 400;
  margin: 0px 0px 16px 0px;
}

.Locations .locationDetails span {
  font-weight: 700;
}

.CartModal {
  width: calc(var(--base-unit)*50);
  min-height: fit-content;
  position: fixed;
  top: -1px;
  right: 0px;
  z-index: -1;
  box-sizing: border-box;
  padding-top: calc((var(--base-unit)*8));
  padding-right: calc((var(--base-unit)*2));
  padding-bottom: calc((var(--base-unit)*2));
  padding-left: calc((var(--base-unit)*2));
  background-color: var(--white);
  border: 1px solid rgba(0,0,0,0.08);
  font-family: var(--sanserif);
  font-size: calc(var(--base-unit)*3);
}

.CartModal .item, .CartHome .item {
  position: relative;
  line-height: calc(var(--base-unit)*4);
  padding: 16px 0px;
  box-shadow: 0px -1px grey;
  display: flex;
}

.Navigation .CartModal .item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.CartModal .item p {
  align-self: center;
  order: 4;
  margin-bottom: 9px;
}

.item h1, .item p {
  margin: 0px;
}

.CartModal .item h1 {
  font-size: calc(var(--base-unit)*3);
}

.CartModal button.close {
  margin-top: calc(var(--base-unit)*2);
  width: 100%;
}

.CartHome .thumbnail {
  width: calc(var(--base-unit)*24);
}

.Navigation .CartModal .thumbnail {
  width: calc(var(--base-unit)*14);
  margin-right: calc(var(--base-unit)*3);
}

.viewCart {
  width: 100%;
  background-color: transparent;
  border: 2px solid var(--dark);
  color: var(--dark);
}

.viewCart a:link, .viewCart a:visited {
  color: var(--dark);
  text-decoration: none;
}

.emptyCart {
  text-align: center;
  font-family: var(--sanserif);
}

.CartModal .emptyCart {
  padding: calc(var(--base-unit)*7) 0 calc(var(--base-unit)*8) 0;
}

.emptyCart a:link, .emptyCart a:visited {
  color: var(--rust);
  display: block;
  margin-top: var(--base-unit);
}

.CartHome .emptyCart {
  margin-top: 14%;
}

.RemoveItem button {
  position: absolute;
  top: calc(var(--base-unit)*3);
  right: 0px;
  width: calc(var(--base-unit)*2);
  height: calc(var(--base-unit)*2);
  background-image: url('./images/remove.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}